@import "@mixins/viewport";

@import "./field/FieldDate/style.scss";
@import "./field/FieldCheckbox/style.scss";
@import "./field/FieldRadio/style.scss";
@import "./field/FieldDropdown/style.scss";
@import "./field/FieldUpload/style.scss";
@import "./field/FieldTextarea/style.scss";

.wp-block-mediweb-form-field {
	margin: 0 !important;
	flex: 1 1 calc(var(--field-width) - var(--_row-gap));
	max-width: var(--field-width);

	.error-message {
		color: var(--c-error, red);
		font-size: 14px;
		margin-block: 4px;
		display: none;
	}

	// :has(.checkbox-group.has-error) {
	// 	.error-message:has(+ .checkbox-group) {
	// 		display: block;
	// 	}
	// }

	&.has-error {
		> .field-wrapper > .input-wrapper {
			input:not(:where([type="checkbox"], [type="radio"])) {
				border-color: var(--c-error, red) !important;
				border-width: 2px !important;
			}
		}

		// For radio and checkbox groups
		> .field-wrapper > .input-wrapper > .error-message {
			display: block;
		}

		// .error-message {
		// 	display: block;
		// }
	}

	.field-wrapper {
		> span {
			display: block;
			margin-bottom: 8px;

			&:empty {
				display: none;
			}
		}
	}

	> label {
		width: 100%;
		// font-family: "Poppins", sans-serif;
		font-size: 1rem;
		font-style: normal;
		font-weight: 400;
		line-height: 1.5;
		display: inline-block;
	}

	.input-wrapper {
		width: 100%;

		> * {
			width: 100%;
		}
	}

	&:is(.type-radio, .type-checkbox) {
		> label {
			// font-size: 18px;
			// font-style: normal;
			// font-weight: 400;
			// line-height: 1.444;
			// margin-bottom: 10px;
		}

		.field-wrapper > span {
			margin-bottom: 16px;
		}
	}

	@include form-field-radio;
	@include form-field-checkbox;

	// Text input
	&:not(:is(.type-radio, .type-checkbox)) {
		.input-wrapper {
			display: flex;
			min-height: 50px;
			align-items: flex-start;
			// flex-shrink: 0;
			// align-self: stretch; //bad for align end

			input {
				padding: 13px 15px;
				color: var(--_input-color);
				background: var(--_input-bg, transparent);
				border: 1px solid var(--_input-border-color, transparent);
				border-radius: var(--_input-radius, 0px);

				/* Body_14 */
				// font-family: "Poppins", sans-serif;
				font-family: inherit;
				font-size: 1rem;
				font-style: normal;
				font-weight: 400;
				line-height: 1.5;

				&:focus-visible {
					border-color: var(--_input-border-color-focus, transparent);
				}

				&::placeholder {
					color: var(--_placeholder-color, var(--_input-color));
				}

				&:focus-visible {
					border-color: var(--_input-border-color-focus, transparent);
					outline: none;
				}

				// Has value {
				&:not([type="date"]):not(:placeholder-shown):not(:focus) {
					color: var(--_input-color-active);
					background: var(--_input-bg-active);
				}

				&:-webkit-autofill,
				&:-webkit-autofill:focus,
				&:-webkit-autofill:-internal-autofill-selected,
				&:-internal-autofill-selected {
					box-shadow: 0 0 0px 1000px var(--_input-bg, transparent) inset;
					-webkit-text-fill-color: var(--_input-color);
				}
			}
		}
	}

	// Field Datepicker
	.field-date {
		.react-datepicker-wrapper {
			width: 100%;

			input {
				width: 100%;
			}
		}
	}

	@include form-field-date;
	@include form-field-dropdown;
	@include form-field-file;
	@include form-field-textarea;

	&:is(.type-number) {
		.input-wrapper {
			width: 90px;
		}
	}

	&.inline {
		display: flex;
		gap: 30px;
		align-items: flex-end;

		&:has(> .wp-block-mediweb-form-row) {
			align-items: flex-start;

			> .field-wrapper {
				flex-shrink: 0;
			}

			> .wp-block-mediweb-form-row {
				margin-top: 0;
			}
		}
	}

	&.required {
		> label:not(:empty) {
			> span:not(:empty) {
				&::after {
					content: " *";
					color: inherit;
					font-weight: 500;
				}
			}
		}

		&.type-radio,
		&.type-checkbox {
			> .field-wrapper {
				> span:not(:empty) {
					&::after {
						content: " *";
						color: inherit;
						font-weight: 500;
					}
				}
			}
		}
	}

	&.is-conditional {
		&:not(.is-active) {
			display: none;
		}

		&.conditional-display-disable {
			pointer-events: none;
			opacity: 0.5;
		}
	}

	&.is-highlighted {
		// outline: 2px solid red;
		position: relative;
		background: #fff;
		padding: 20px 10px;
		border: 0px solid transparent;
		border-radius: var(--_input-radius, 0px);
		background-clip: padding-box;

		&::before {
			content: "";
			display: block;
			position: absolute;
			left: -12px;
			top: -20px;
			// background: linear-gradient(
			// 	179.59deg,
			// 	#ff001a 0.58%,
			// 	#ff001a 32.93%,
			// 	#ffffff 108.81%
			// );
			background: red;
			border-radius: 24px;
			width: calc(100% + 24px);
			height: calc(100% + 40px);
			z-index: -1;
			left: -2px;
			top: -2px;
			width: calc(100% + 4px);
			height: calc(100% + 4px);
			border-radius: var(--_input-radius, 0px);
			border: none;
			box-sizing: border-box;
		}
	}

	@include mobile {
		--field-width: 100% !important;

		&.inline {
			flex-direction: column;
			align-items: flex-start;
			gap: 16px;
		}
	}
}

@keyframes radioCheckAnimation {
	0% {
		scale: 0;
	}
	75% {
		scale: 1.2;
	}
	85% {
		scale: 0.8;
	}
	100% {
		scale: 1;
	}
}
