@import "@mixins/viewport";

@mixin form-field-checkbox {
	&.type-checkbox {
		.checkbox-group {
			gap: 10px 12px;
			display: grid;
			grid-template-columns: repeat(var(--group-cols, 1), 1fr);

			.group-item {
				display: flex;
				flex-direction: column;
				gap: 10px;

				> label {
					width: 100%;
					max-width: max-content;
				}
			}

			.m-form__field {
				.field-wrapper > span {
					margin-bottom: 8px;
				}

				.input-wrapper {
					max-width: 45%;
				}
			}

			> .group-item label {
				display: flex;
				gap: 8px;
				font-size: 16px; //TODO: control size from form settings?

				//cancel ctyles from text input
				> span {
					margin-bottom: 0;
				}

				input {
					// display: none;
					width: 18px;
					height: 18px;
					background: transparent;
					border: 1px solid var(--_input-color);
					border-radius: 3px;
					appearance: none;
					position: relative;
					flex-shrink: 0;
					margin: 0;
					translate: 0 0.15em;

					&:checked {
						// background: var(--_input-bg-active);

						&::before {
							content: "";
							display: block;
							width: 100%;
							height: 100%;
							position: absolute;
							top: 0;
							left: 0;
							// background: var(--c-light);

							background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMCIgdmlld0JveD0iMCAwIDEzIDEwIiBmaWxsPSJub25lIj4KICA8cGF0aCBkPSJNMSA1TDQuNSA5LjVMMTIgMSIgc3Ryb2tlPSIjMjkyRTM5IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+");
							background-repeat: no-repeat;
							background-size: 11px 8.5px;
							background-position: 3px 3px;

							// clip-path: polygon(
							// 	17% 54%,
							// 	28% 43%,
							// 	38% 54%,
							// 	70% 22%,
							// 	81% 33%,
							// 	38% 75%,
							// 	17% 54%
							// );
							// $path: url("./icons/checkmark.svg");
							// mask: $path no-repeat center;
							// mask-image: #{"url(var(--path))"};
							// mask-repeat: no-repeat;
							// mask-position: center;
							mask-size: 16px;
							// background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEyLjgwMTIgNC4zOTk0MUw2LjIwMTE3IDEwLjk5OTRMM y4yMDExNyA3Ljk5OTQxIiBzdHJva2U9IndoaXRlIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+")
							// 	no-repeat center / contain;
							// background-size: 16px;
						}
					}
				}
			}
		}

		@include mobile {
			.checkbox-group {
				grid-template-columns: repeat(min(2, var(--group-cols, 1)), 1fr);

				.group-item {
					flex-basis: 100%;

					&.fullwidth {
						grid-column: span min(2, var(--group-cols, 1));
					}
				}
			}
		}
	}
}
